body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    color: $color-text-3;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  button,
  input,
  select,
  textarea {
    font: inherit;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    color: $color-highlight;
    text-decoration: none;
  }
