.empty-result {
  text-align: center;
  h2 {
    font-size: 2rem;
    margin-block-end: 0;
  }

  p {
    font-weight: $font-weight-light;
    font-size: 1.125;
    margin-block-start: 0;
  }

  img {
    max-width: 26.25rem;
  }

  button {
    color: $color-white;
    background: $color-pink;
    border: none;
    border-radius: $border-radius-2;
    width: 8.75rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 4.063rem;
    cursor: pointer;
  }
}
